{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<footer
  class="footer-container"
  style="--background-footer-color: {{ section.settings.color_scheme.settings.text_second}}"
>
  <div class="footer-content">
    <div class="footer-categories-content">
      {% for link in section.settings.menu.links %}
        <div             
            id="{{ link.handle }}"
            class="footer-category-content">
          <div
            class="footer-category-title"
            style="--color-font: {{ section.settings.color_scheme.settings.text_reverse }}"
          >
            <span> {{ link.title }}</span> 
            <div class="category-footer-icon-accordion"> + </div>
            </div>
          <ul class="footer-category-list-container">
            {% for sublink in link.links %}
              <li class="footer-subcategory-content">
                <a
                  class="footer-subcategory-link"
                  href="{{ sublink.url }}"
                  style="--color-font: {{ section.settings.color_scheme.settings.text_reverse }}"
                >
                  {{ sublink.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
    <div class="footer-icons-content">
      <div class="footer-icons-contentainer-redes">
        <span 
            class="footer-icons-redes-title" 
            style="--color-font: {{ section.settings.color_scheme.settings.text_reverse }}" >
            {{ section.settings.title_redes }}
        </span>
        <div class="footer-icons-contentents-redes"> 
            <a href="">
                <img 
                 src="{{ section.settings.icon_fecebook | image_url}}" width="100%" height="100%" 
                 class="footer-icon-rede-img"
                 style="
                 --icon-size-desktop:{{ section.settings.icones_height_range }}px;
                 --icon-size-mobile:{{ section.settings.icones_height_range_mobile }}px;">
            </a>
            <a href="">
                <img 
                 src="{{ section.settings.icon_instagram | image_url}}" width="100%" height="100%" 
                 class="footer-icon-rede-img"
                 style="
                 --icon-size-desktop:{{ section.settings.icones_height_range }}px;
                 --icon-size-mobile:{{ section.settings.icones_height_range_mobile }}px;">
            </a>
            <a href="">
                <img 
                 src="{{ section.settings.icon_youtube | image_url}}" width="100%" height="100%" 
                 class="footer-icon-rede-img"
                 style="
                 --icon-size-desktop:{{ section.settings.icones_height_range }}px;
                 --icon-size-mobile:{{ section.settings.icones_height_range_mobile }}px;">
            </a>

        </div>
      </div>
      <div class="footer-icons-content-payments footer-desktop">
        <div class="footer-icons-contentainer-redes">
            <span 
                class="footer-icons-payment-title" 
                style="--color-font: {{ section.settings.color_scheme.settings.text_reverse }}" >
                {{ section.settings.title_payment }}
            </span>
            <div class="footer-icons-contentents-payment"> 
            {% for block in section.blocks %}
                <a href="{{ block.settings.icon_url }}" alt="{{ block.settings.icon_alt }}">
                    <img 
                     src="{{ block.settings.icon_img | image_url}}" width="100%" height="100%" 
                     class="footer-icon-payment-img"
                     style="
                     --icon-size-desktop:{{ section.settings.icones_height_range }}px;
                     --icon-size-mobile:{{ section.settings.icones_height_range_mobile }}px;">
                </a>
            {% endfor %}
            </div>
          </div>
        

      </div>
    </div>
  </div>
  <div class="links-sign-sell-content">
    <a
      href="{{ section.settings.link_sing }}"
      class="sign-button"
      style="
        --background-color: {{ section.settings.color_scheme.settings.text_second}};
        --border-color: {{ section.settings.color_scheme.settings.text_reverse}};
        --font-color: {{ section.settings.color_scheme.settings.text_reverse}};
      "
    >{{ section.settings.button_sing }}</a>
    <a href="{{ section.settings.link_sell }}"
      class="want-sell-button"
      style="
        --background-color: {{ section.settings.color_scheme.settings.text_reverse}};
        --font-color: {{ section.settings.color_scheme.settings.text_second}};
      "
    >{{ section.settings.button_sell }}</a>
  </div>
</footer>
<div class="bottom-footer-target-container">
    <div class="bottom-footer-target">
        <div class="bottom-footer-target-content">
            <div class="footer-icons-content-payments footer-mobile">
                <div class="footer-icons-contentainer-redes">
                    <span 
                        class="footer-icons-payment-title" 
                        style="--color-font: {{ section.settings.color_scheme.settings.text_reverse }}" >
                        {{ section.settings.title_payment }}
                    </span>
                    <div class="footer-icons-contentents-payment"> 
                    {% for block in section.blocks %}
                        <a href="{{ block.settings.icon_url }}" alt="{{ block.settings.icon_alt }}">
                            <img 
                             src="{{ block.settings.icon_img_mobile | image_url}}" width="100%" height="100%" 
                             class="footer-icon-payment-img"
                             style="
                             --icon-size-desktop:{{ section.settings.icones_height_range }}px;
                             --icon-size-mobile:{{ section.settings.icones_height_range_mobile }}px;">
                        </a>
                    {% endfor %}
                    </div>
                  </div>
                
        
            </div>
            <div class="button-return-top footer-mobile">
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                    <path d="M0.999512 5L4.68131 1.3182C4.85705 1.14246 5.14197 1.14246 5.31771 1.3182L8.99951 5" stroke="#5E2B43" stroke-linejoin="round"/>
                  </svg>
                  <span class="button-return-top-text">Voltar ao topo</span>
            </div>
          <div class="developer-tecnology">
            <div class="developer-tecnology-text">©2024 Wine Trader. Todos os direitos reservados. Mw Intermediacoes de Negocios LTDA. CNPJ 34.518.410/0001-40</div>
          </div>
          <div class="developer-tecnology">
            <div>
              <b class="developer-tecnology-text">Powered by</b>
              <svg xmlns="http://www.w3.org/2000/svg" width="56" height="16" viewBox="0 0 56 16" fill="none">
                  <g clip-path="url(#clip0_9627_125874)">
                    <path d="M12.0343 3.03068C12.0251 2.94778 11.9514 2.91093 11.8961 2.90172C11.8408 2.89251 10.7355 2.8833 10.7355 2.8833C10.7355 2.8833 9.80513 1.9806 9.71302 1.88848C9.62091 1.79637 9.44589 1.824 9.3722 1.84243C9.3722 1.84243 9.19719 1.89769 8.90243 1.98981C8.85637 1.83321 8.78268 1.63978 8.68136 1.44634C8.34975 0.810763 7.87076 0.479157 7.28124 0.479157C7.2444 0.479157 7.19834 0.479157 7.16149 0.488368C7.14307 0.469945 7.12465 0.451523 7.10623 0.423889C6.84831 0.147551 6.52592 0.0185927 6.13904 0.027804C5.38372 0.0462265 4.6376 0.589692 4.02045 1.56609C3.58752 2.24772 3.26512 3.10437 3.17301 3.76758C2.30715 4.03471 1.6992 4.21894 1.68999 4.22815C1.25706 4.36632 1.23864 4.37553 1.18337 4.79004C1.13732 5.09401 -0.00488281 13.946 -0.00488281 13.946L9.58406 15.6041L13.7383 14.5724C13.7383 14.5724 12.0435 3.10437 12.0343 3.03068ZM8.42344 2.13719C8.20237 2.20167 7.95366 2.28457 7.67733 2.36747C7.66811 1.98981 7.62206 1.45555 7.44704 0.994988C8.02735 1.10552 8.30369 1.75031 8.42344 2.13719ZM7.17992 2.52406C6.6733 2.68065 6.12983 2.84646 5.57715 3.02147C5.73375 2.43195 6.02851 1.84243 6.38775 1.45555C6.52592 1.30817 6.71014 1.15158 6.93121 1.05947C7.14307 1.4924 7.17992 2.10955 7.17992 2.52406ZM6.14825 0.534424C6.32327 0.534424 6.47065 0.571269 6.59961 0.654171C6.39696 0.755495 6.19431 0.912087 6.01008 1.11474C5.5311 1.63057 5.16265 2.42274 5.01527 3.19648C4.5547 3.33465 4.11256 3.47282 3.69805 3.60178C3.97439 2.38589 4.98763 0.57127 6.14825 0.534424Z" fill="#BCBCBC"/>
                    <path d="M11.896 2.90152C11.8407 2.8923 10.7354 2.88309 10.7354 2.88309C10.7354 2.88309 9.80506 1.98039 9.71294 1.88828C9.6761 1.85143 9.63004 1.83301 9.58398 1.83301V15.6039L13.7383 14.5722C13.7383 14.5722 12.0434 3.11338 12.0342 3.03047C12.0158 2.94757 11.9513 2.91073 11.896 2.90152Z" fill="#9B9B9B"/>
                    <path d="M7.28148 5.0385L6.80249 6.84391C6.80249 6.84391 6.26823 6.59521 5.62344 6.64127C4.68389 6.69653 4.67468 7.28606 4.68389 7.44265C4.73916 8.25324 6.85776 8.42826 6.9775 10.3166C7.06962 11.8088 6.18533 12.822 4.91418 12.9049C3.3851 12.9971 2.54688 12.1036 2.54688 12.1036L2.86927 10.7311C2.86927 10.7311 3.71671 11.3667 4.38913 11.3298C4.83127 11.3022 4.98787 10.9429 4.96944 10.685C4.90496 9.63493 3.17324 9.6902 3.06271 7.96769C2.97059 6.51231 3.92857 5.0385 6.03795 4.90033C6.86697 4.82664 7.28148 5.0385 7.28148 5.0385Z" fill="white"/>
                    <path d="M19.3664 8.88862C18.8874 8.63071 18.6387 8.40964 18.6387 8.10566C18.6387 7.71879 18.9795 7.47008 19.523 7.47008C20.1494 7.47008 20.702 7.728 20.702 7.728L21.1442 6.38315C21.1442 6.38315 20.7389 6.06997 19.5506 6.06997C17.8926 6.06997 16.7412 7.01873 16.7412 8.35437C16.7412 9.10969 17.2754 9.69 17.9939 10.1045C18.5742 10.4361 18.7769 10.6664 18.7769 11.0164C18.7769 11.3757 18.4913 11.6612 17.9479 11.6612C17.1465 11.6612 16.3912 11.2467 16.3912 11.2467L15.9214 12.5916C15.9214 12.5916 16.6214 13.0613 17.7913 13.0613C19.4954 13.0613 20.7205 12.2231 20.7205 10.7125C20.7297 9.89265 20.1125 9.31234 19.3664 8.88862ZM26.1643 6.05155C25.3261 6.05155 24.6629 6.44763 24.1563 7.05558L24.1286 7.04637L24.8563 3.2329H22.9588L21.1165 12.9324H23.0141L23.6496 9.61631C23.8984 8.36358 24.5431 7.58983 25.1511 7.58983C25.5748 7.58983 25.7406 7.87538 25.7406 8.28989C25.7406 8.5478 25.713 8.8702 25.6577 9.12811L24.9392 12.9232H26.8368L27.5829 8.99916C27.6658 8.58465 27.721 8.08724 27.721 7.76485C27.721 6.70555 27.1499 6.05155 26.1643 6.05155ZM32.0135 6.05155C29.7291 6.05155 28.2184 8.11487 28.2184 10.4177C28.2184 11.8915 29.1304 13.0705 30.8344 13.0705C33.0728 13.0705 34.5927 11.0625 34.5927 8.7044C34.5834 7.35034 33.7821 6.05155 32.0135 6.05155ZM31.0739 11.6152C30.4292 11.6152 30.1528 11.0625 30.1528 10.3808C30.1528 9.29392 30.7147 7.51614 31.7464 7.51614C32.4188 7.51614 32.6399 8.09645 32.6399 8.65834C32.6399 9.82817 32.078 11.6152 31.0739 11.6152ZM39.4378 6.05155C38.1574 6.05155 37.4297 7.17532 37.4297 7.17532H37.4021L37.5126 6.15287H35.8362C35.7533 6.84372 35.6059 7.88459 35.4493 8.66755L34.1321 15.6129H36.0296L36.5547 12.8034H36.5915C36.5915 12.8034 36.9784 13.0521 37.7061 13.0521C39.9352 13.0521 41.3906 10.7677 41.3906 8.45569C41.3998 7.19375 40.8287 6.05155 39.4378 6.05155ZM37.6232 11.6428C37.1258 11.6428 36.8402 11.3665 36.8402 11.3665L37.1534 9.58868C37.3745 8.40963 37.9916 7.61746 38.6548 7.61746C39.2351 7.61746 39.4101 8.15172 39.4101 8.66755C39.4101 9.89265 38.6825 11.6428 37.6232 11.6428ZM44.1079 3.33422C43.5 3.33422 43.021 3.81321 43.021 4.43957C43.021 5.00146 43.3802 5.38834 43.9145 5.38834H43.9421C44.5316 5.38834 45.0475 4.99225 45.0567 4.28298C45.0567 3.7303 44.6882 3.33422 44.1079 3.33422ZM41.4551 12.9324H43.3526L44.6422 6.20814H42.7262L41.4551 12.9324ZM49.4689 6.18972H48.1517L48.2161 5.87653C48.3267 5.23174 48.7135 4.65143 49.3399 4.65143C49.6807 4.65143 49.9479 4.74355 49.9479 4.74355L50.3163 3.26053C50.3163 3.26053 49.9847 3.09473 49.2846 3.09473C48.6122 3.09473 47.9398 3.28816 47.424 3.7303C46.7792 4.28298 46.4752 5.07515 46.3186 5.87653L46.2633 6.18972H45.3791L45.1027 7.61746H45.987L44.983 12.9324H46.8805L47.8845 7.61746H49.1925L49.4689 6.18972ZM54.0377 6.20814C54.0377 6.20814 52.8494 9.2018 52.3152 10.8322H52.2875C52.2507 10.3072 51.8177 6.20814 51.8177 6.20814H49.8281L50.9703 12.3889C50.9979 12.5271 50.9795 12.61 50.9335 12.7021C50.7124 13.1258 50.3439 13.5403 49.9018 13.8443C49.5426 14.1022 49.1465 14.268 48.8241 14.3785L49.3491 15.9905C49.736 15.9076 50.5282 15.5944 51.2098 14.9589C52.0757 14.1483 52.877 12.8955 53.6968 11.1914L56.0181 6.20814H54.0377Z" fill="#9A9A9A"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_9627_125874">
                      <rect width="56.0046" height="16" fill="white" transform="translate(-0.00488281)"/>
                    </clipPath>
                  </defs>
                </svg>
            </div>
            <div>
              <b class="developer-tecnology-text">Developed by</b>
              <svg xmlns="http://www.w3.org/2000/svg" width="54" height="10" viewBox="0 0 54 10" fill="none">
                  <g clip-path="url(#clip0_9627_126704)">
                    <path d="M3.26115 1.82519C2.98019 1.82519 2.74535 1.89009 2.55455 2.01779C2.36374 2.1455 2.21068 2.31089 2.09116 2.51186C1.97165 2.71493 1.88568 2.93685 1.83745 3.17969C1.78713 3.42254 1.76197 3.66539 1.76197 3.90405C1.76197 4.14271 1.78713 4.3709 1.83745 4.60956C1.88778 4.84822 1.96745 5.06595 2.07858 5.25855C2.18971 5.45324 2.34068 5.61235 2.53148 5.73587C2.72019 5.85939 2.95293 5.92219 3.22551 5.92219C3.64696 5.92219 3.97196 5.80495 4.19841 5.56839C4.42486 5.33391 4.56744 5.01779 4.62615 4.62212H6.32452C6.2092 5.47209 5.87791 6.11898 5.33276 6.5649C4.7876 7.01082 4.08938 7.23273 3.23809 7.23273C2.75793 7.23273 2.31761 7.15317 1.91923 6.99197C1.51874 6.83077 1.17697 6.60677 0.896007 6.31786C0.615041 6.02896 0.394881 5.68562 0.23972 5.28367C0.082463 4.88381 0.00488281 4.44417 0.00488281 3.96476C0.00488281 3.48535 0.0782695 3.01012 0.222946 2.58514C0.367623 2.16015 0.579396 1.79379 0.860362 1.48395C1.14133 1.17411 1.4831 0.933357 1.88987 0.759595C2.29455 0.585834 2.75793 0.5 3.27793 0.5C3.65744 0.5 4.02438 0.550244 4.37454 0.648639C4.72469 0.747034 5.03921 0.897767 5.31598 1.10084C5.59275 1.30391 5.8192 1.55513 5.99114 1.85659C6.16517 2.15806 6.26372 2.51396 6.28888 2.92638H4.56534C4.45002 2.19156 4.01599 1.82519 3.26325 1.82519" fill="#292929"/>
                    <path d="M8.51697 0.673621V1.86273H8.54213C8.6239 1.66385 8.73713 1.48172 8.87761 1.31214C9.01809 1.14257 9.17954 0.998115 9.35986 0.878785C9.54228 0.759455 9.73518 0.66734 9.94276 0.600348C10.1503 0.533356 10.3642 0.501953 10.5886 0.501953C10.7039 0.501953 10.8318 0.522888 10.9723 0.564758V2.19979C10.8905 2.18304 10.7899 2.16839 10.6745 2.15583C10.5592 2.14327 10.4481 2.13698 10.3391 2.13698C10.0162 2.13698 9.74357 2.19142 9.52131 2.29818C9.29906 2.40495 9.11874 2.5515 8.98245 2.73782C8.84616 2.92414 8.74971 3.13978 8.691 3.38681C8.63229 3.63384 8.60503 3.90181 8.60503 4.19072V7.07558H6.84375V0.673621H8.51697Z" fill="#292929"/>
                    <path d="M13.0292 0.673761V1.49023H13.0543C13.2682 1.1448 13.5429 0.891486 13.8721 0.734473C14.2034 0.57746 14.5661 0.5 14.9624 0.5C15.4656 0.5 15.8996 0.594208 16.2645 0.784717C16.6272 0.975227 16.9291 1.22645 17.1703 1.54047C17.4093 1.8545 17.5875 2.21877 17.7029 2.63538C17.8182 3.05199 17.8769 3.48744 17.8769 3.94173C17.8769 4.3709 17.8182 4.78332 17.7029 5.179C17.5875 5.57467 17.4114 5.92638 17.1766 6.22994C16.9417 6.53559 16.6482 6.77844 16.2959 6.96057C15.9437 7.14271 15.5327 7.23273 15.063 7.23273C14.6667 7.23273 14.2998 7.15317 13.9664 6.99197C13.6309 6.83077 13.3563 6.59421 13.1424 6.28018H13.1172V9.31368H11.356V0.673761H13.0292ZM15.3167 5.74843C15.5117 5.63329 15.6669 5.48255 15.7885 5.29623C15.908 5.10991 15.994 4.89428 16.0422 4.64515C16.0925 4.39812 16.1177 4.14689 16.1177 3.89149C16.1177 3.63608 16.0904 3.38486 16.0359 3.13573C15.9835 2.8887 15.8933 2.66678 15.7696 2.47418C15.6459 2.27948 15.4866 2.12456 15.2916 2.00314C15.0966 1.88381 14.8596 1.8231 14.5787 1.8231C14.2977 1.8231 14.0482 1.88381 13.8532 2.00314C13.6582 2.12247 13.5009 2.27739 13.3814 2.4679C13.2619 2.65841 13.178 2.87613 13.1277 3.12317C13.0774 3.3702 13.0522 3.6277 13.0522 3.89149C13.0522 4.15527 13.0795 4.39812 13.134 4.64515C13.1885 4.89218 13.2745 5.10991 13.394 5.29623C13.5135 5.48255 13.6729 5.63329 13.8721 5.74843C14.0713 5.86357 14.3103 5.92219 14.5913 5.92219C14.8722 5.92219 15.1217 5.86357 15.3167 5.74843Z" fill="#292929"/>
                    <path d="M19.3008 0.71128H19.7726V2.01135H19.7977C19.848 1.81247 19.934 1.62614 20.0577 1.4482C20.1814 1.27025 20.3324 1.11742 20.5106 0.983436C20.6888 0.851545 20.8859 0.748963 21.1061 0.673596C21.3263 0.59823 21.5548 0.56264 21.7938 0.56264C22.1 0.56264 22.3641 0.602417 22.5864 0.679877C22.8087 0.75943 22.9995 0.862012 23.1567 0.989717C23.314 1.11742 23.4377 1.26187 23.5279 1.42307C23.618 1.58427 23.6809 1.74757 23.7145 1.91086H23.7396C23.9304 1.46494 24.1841 1.12789 24.5028 0.901789C24.8216 0.67569 25.2409 0.560547 25.7609 0.560547C26.0503 0.560547 26.3165 0.604511 26.5598 0.690345C26.803 0.776178 27.0148 0.910163 27.193 1.08602C27.3712 1.26397 27.5096 1.48797 27.6082 1.76013C27.7067 2.03228 27.757 2.35469 27.757 2.72524V7.06927H27.2853V2.71477C27.2853 2.31072 27.2223 1.99251 27.0986 1.76222C26.9749 1.53194 26.8282 1.35608 26.6583 1.23675C26.4885 1.11742 26.3186 1.04205 26.1509 1.01275C25.9811 0.983436 25.8511 0.970875 25.7609 0.970875C25.4716 0.970875 25.2053 1.01903 24.962 1.11951C24.7188 1.21791 24.507 1.36655 24.3288 1.56543C24.1506 1.76432 24.0143 2.00926 23.9137 2.30235C23.8151 2.59544 23.7648 2.93249 23.7648 3.31142V7.07346H23.293V2.71477C23.293 2.3191 23.2322 2.00298 23.1127 1.7685C22.9932 1.53403 22.8527 1.35817 22.6912 1.24303C22.5298 1.12789 22.3641 1.05252 22.1964 1.02112C22.0266 0.987623 21.8924 0.972969 21.7938 0.972969C21.5716 0.972969 21.3388 1.01903 21.0998 1.10905C20.8608 1.19907 20.6406 1.34143 20.4435 1.52984C20.2443 1.72035 20.0829 1.9632 19.9592 2.26048C19.8355 2.55776 19.7726 2.90737 19.7726 3.31351V7.07555H19.3008V0.71128Z" fill="#292929"/>
                    <path d="M33.3847 5.81162H33.3595C33.284 6.00213 33.1771 6.18008 33.0366 6.34966C32.8961 6.51923 32.7242 6.66996 32.5229 6.80185C32.3216 6.93375 32.091 7.03633 31.8352 7.11169C31.5794 7.18497 31.2984 7.22265 30.9923 7.22265C30.315 7.22265 29.7887 7.0761 29.4176 6.78301C29.0465 6.48992 28.8599 6.03772 28.8599 5.42851C28.8599 5.05796 28.9353 4.7544 29.0821 4.51784C29.231 4.28336 29.4197 4.09704 29.6461 3.96096C29.8726 3.82488 30.1242 3.72858 30.4031 3.66996C30.6799 3.61135 30.9461 3.57157 31.2019 3.54645L31.9337 3.48574C32.2713 3.46061 32.5376 3.42084 32.7326 3.3685C32.9255 3.31407 33.0744 3.24079 33.1729 3.14659C33.2715 3.05238 33.3344 2.92886 33.3595 2.78232C33.3847 2.63368 33.3973 2.44735 33.3973 2.22544C33.3973 2.05168 33.3637 1.89048 33.2987 1.74184C33.2316 1.5932 33.1289 1.46131 32.9884 1.34617C32.8479 1.23103 32.6655 1.13891 32.4432 1.07401C32.2189 1.00702 31.9463 0.975617 31.6255 0.975617C31.0552 0.975617 30.5939 1.11588 30.2416 1.39641C29.8915 1.67694 29.6986 2.10193 29.665 2.67136H29.1932C29.2268 1.97003 29.4511 1.44456 29.8684 1.09285C30.2857 0.743238 30.879 0.567383 31.6465 0.567383C32.4139 0.567383 32.9758 0.718116 33.326 1.01958C33.6761 1.32105 33.8523 1.71463 33.8523 2.20241V5.90374C33.8523 5.99376 33.8543 6.08587 33.8585 6.1759C33.8627 6.26592 33.8774 6.34966 33.9026 6.42293C33.9277 6.4962 33.9676 6.55691 34.0263 6.60297C34.085 6.64903 34.1668 6.66996 34.2737 6.66996C34.3555 6.66996 34.4729 6.6574 34.6218 6.63228V7.02795C34.4981 7.06145 34.3702 7.0782 34.2381 7.0782C34.0473 7.0782 33.8984 7.05308 33.7852 7.00492C33.674 6.95468 33.5881 6.88978 33.5314 6.80604C33.4727 6.72439 33.435 6.626 33.414 6.51504C33.3931 6.40409 33.3826 6.28266 33.3826 6.15077V5.81581L33.3847 5.81162ZM33.3847 3.46061C33.2694 3.60088 33.0932 3.69509 32.8584 3.74533C32.6236 3.79557 32.3615 3.83116 32.0721 3.85629L31.2795 3.92956C31.0489 3.95468 30.8161 3.99027 30.5855 4.03423C30.3549 4.08029 30.1452 4.15566 29.9607 4.26243C29.7741 4.3692 29.6231 4.51574 29.5078 4.70206C29.3924 4.88839 29.3337 5.12914 29.3337 5.42642C29.3337 5.89746 29.4826 6.24498 29.7803 6.47317C30.0781 6.70137 30.487 6.81442 31.0069 6.81442C31.5269 6.81442 31.9694 6.71811 32.2839 6.52342C32.5984 6.32872 32.8374 6.10681 33.0031 5.85559C33.1687 5.60437 33.2735 5.35943 33.3197 5.12495C33.3658 4.89048 33.3868 4.73137 33.3868 4.64763V3.46061H33.3847Z" fill="#292929"/>
                    <path d="M35.3556 0.71128H35.8253V2.07206H35.8504C35.9343 1.8334 36.0517 1.61986 36.2048 1.43354C36.3579 1.24722 36.534 1.08811 36.7374 0.95622C36.9387 0.824329 37.1609 0.725934 37.4 0.658942C37.639 0.59195 37.8843 0.560547 38.1317 0.560547C38.5029 0.560547 38.8195 0.606604 39.0795 0.696625C39.3395 0.786646 39.5533 0.905976 39.7169 1.05462C39.8825 1.20325 40.0125 1.37074 40.1069 1.55496C40.2012 1.74129 40.2704 1.92761 40.3124 2.11812C40.3543 2.30863 40.3774 2.49076 40.3857 2.66871C40.3941 2.84666 40.3983 3.00158 40.3983 3.13347V7.06927H39.9286V3.04973C39.9286 2.89272 39.9161 2.69593 39.8909 2.45517C39.8657 2.21651 39.7945 1.98623 39.6749 1.7685C39.5554 1.54868 39.373 1.36236 39.1298 1.20535C38.8845 1.04833 38.549 0.970875 38.1191 0.970875C37.7564 0.970875 37.4335 1.03787 37.1504 1.16976C36.8695 1.30165 36.6304 1.48588 36.4313 1.72035C36.2342 1.95482 36.0832 2.23536 35.9783 2.56194C35.8756 2.88853 35.8232 3.24443 35.8232 3.63173V7.07346H35.3535V0.71128H35.3556Z" fill="#292929"/>
                    <path d="M47.0448 0.711139V6.73836C47.0448 7.09216 47.0029 7.43759 46.9211 7.77255C46.8393 8.10751 46.6968 8.4027 46.4955 8.65811C46.2942 8.91352 46.0153 9.11868 45.661 9.27151C45.3066 9.42433 44.8558 9.4997 44.3127 9.4997C43.9752 9.4997 43.6564 9.46411 43.3608 9.39502C43.0631 9.32594 42.8031 9.21289 42.5808 9.06006C42.3586 8.90724 42.1803 8.70417 42.0419 8.45294C41.9057 8.20172 41.8302 7.88979 41.8134 7.51924H42.2852C42.3103 7.79977 42.3795 8.03843 42.4969 8.23731C42.6123 8.43619 42.7632 8.5974 42.9498 8.72719C43.1365 8.8549 43.3461 8.94701 43.5768 9.00563C43.8074 9.06216 44.0569 9.09146 44.319 9.09146C44.7572 9.09146 45.1221 9.02447 45.4156 8.89467C45.7092 8.76278 45.9419 8.59111 46.116 8.37967C46.2879 8.17032 46.4116 7.92957 46.4808 7.6616C46.5521 7.39363 46.5856 7.12356 46.5856 6.85141V5.39014H46.55C46.3277 5.86118 46.0237 6.21917 45.64 6.4662C45.2563 6.71324 44.7908 6.83675 44.2477 6.83675C43.7781 6.83675 43.3713 6.7572 43.0295 6.596C42.6877 6.4348 42.4026 6.21289 42.1761 5.92817C41.9497 5.64345 41.7798 5.31058 41.6687 4.93166C41.5576 4.55273 41.501 4.14031 41.501 3.69439C41.501 3.2736 41.5618 2.87374 41.6813 2.49272C41.8008 2.11379 41.9769 1.78092 42.2097 1.49621C42.4403 1.21149 42.7276 0.985389 43.0715 0.815815C43.4153 0.64624 43.8095 0.5625 44.2561 0.5625C44.7614 0.5625 45.2248 0.690204 45.6505 0.945613C46.0761 1.20102 46.3801 1.56529 46.5626 2.03424H46.5877V0.711139H47.0469H47.0448ZM44.2561 0.970735C43.8682 0.970735 43.5306 1.04819 43.2455 1.20521C42.9603 1.36222 42.7255 1.56739 42.5389 1.82489C42.3544 2.0803 42.2118 2.37129 42.1174 2.69788C42.021 3.02447 41.9748 3.35524 41.9748 3.69439C41.9748 4.06494 42.0231 4.41875 42.1174 4.75371C42.2118 5.08867 42.3565 5.37967 42.5515 5.6267C42.7444 5.87374 42.9855 6.07053 43.2706 6.21498C43.5558 6.35943 43.8829 6.43061 44.2561 6.43061C44.6293 6.43061 44.9837 6.35734 45.2731 6.2087C45.5624 6.06006 45.8035 5.85699 45.9985 5.60158C46.1914 5.34617 46.3361 5.05518 46.4326 4.72859C46.5269 4.402 46.5751 4.05866 46.5751 3.69439C46.5751 3.33012 46.5269 2.99725 46.4326 2.66648C46.3382 2.3357 46.1935 2.04471 45.9985 1.79348C45.8035 1.54226 45.5624 1.34129 45.2731 1.19265C44.9837 1.04401 44.644 0.970735 44.2561 0.970735Z" fill="#292929"/>
                    <path d="M48.1499 3.89132C48.1499 3.43703 48.2149 3.00995 48.3428 2.61009C48.4707 2.21023 48.6594 1.85643 48.9068 1.55078C49.1543 1.24512 49.4604 1.00437 49.8231 0.826423C50.188 0.648474 50.6052 0.560547 51.0749 0.560547C51.5446 0.560547 51.9639 0.648474 52.3267 0.826423C52.6894 1.00437 52.9955 1.24512 53.245 1.55078C53.4925 1.85643 53.6812 2.20814 53.8091 2.61009C53.937 3.00995 53.9999 3.43703 53.9999 3.89132C53.9999 4.34561 53.9349 4.77478 53.8091 5.17883C53.6812 5.58288 53.4925 5.93668 53.245 6.23605C52.9976 6.53752 52.6915 6.77618 52.3267 6.95413C51.9639 7.13207 51.5446 7.22 51.0749 7.22C50.6052 7.22 50.188 7.13207 49.8231 6.95413C49.4604 6.77618 49.1543 6.53752 48.9068 6.23605C48.6594 5.93459 48.4707 5.58288 48.3428 5.17883C48.2149 4.77478 48.1499 4.34561 48.1499 3.89132ZM48.6217 3.89132C48.6217 4.27025 48.6741 4.63661 48.7831 4.98623C48.8901 5.33794 49.0473 5.64778 49.2528 5.91993C49.4604 6.19209 49.7162 6.40981 50.0223 6.56892C50.3284 6.73012 50.6786 6.80967 51.0749 6.80967C51.4712 6.80967 51.8213 6.73012 52.1296 6.56892C52.4357 6.40772 52.6915 6.19209 52.8991 5.91993C53.1046 5.64778 53.2618 5.33584 53.3708 4.98623C53.4778 4.63452 53.5323 4.27025 53.5323 3.89132C53.5323 3.5124 53.4778 3.14603 53.3708 2.79642C53.2618 2.44471 53.1046 2.13487 52.8991 1.86271C52.6915 1.59055 52.4357 1.37283 52.1296 1.21372C51.8234 1.05252 51.4733 0.972968 51.0749 0.972968C50.6765 0.972968 50.3263 1.05252 50.0223 1.21372C49.7162 1.37492 49.4604 1.59055 49.2528 1.86271C49.0473 2.13487 48.8901 2.4468 48.7831 2.79642C48.6741 3.14603 48.6217 3.5124 48.6217 3.89132Z" fill="#292929"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_9627_126704">
                      <rect width="54" height="9" fill="white" transform="translate(0 0.5)"/>
                    </clipPath>
                  </defs>
                </svg>
            </div>
          </div>
          <div class="button-return-top footer-desktop">
              <svg xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" fill="none">
                  <path d="M0.999512 5L4.68131 1.3182C4.85705 1.14246 5.14197 1.14246 5.31771 1.3182L8.99951 5" stroke="#5E2B43" stroke-linejoin="round"/>
                </svg>
                <span class="button-return-top-text">Voltar ao topo</span>
          </div>
        </div>
      </div>
</div>

<script src="{{ 'section-footer.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name": "t:sections.footer.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.footer.settings.footer_menu.content",
      "info": "t:sections.footer.settings.footer_menu.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "text",
      "id": "button_sing",
      "label": "t:sections.footer.settings.footer_sing_button.content"
    },
    {
      "type": "text",
      "id": "link_sing",
      "label": "t:sections.footer.settings.footer_sing_link.content"
    },
    {
      "type": "text",
      "id": "button_sell",
      "label": "t:sections.footer.settings.footer_sell_button.content"
    },
    {
      "type": "text",
      "id": "link_sell",
      "label": "t:sections.footer.settings.footer_sell_link.content"
    },
    {
        "type": "textarea",
        "id": "title_redes",
        "label": "t:sections.footer.settings.footer_redes_title.content"
      },
    {
      "type": "image_picker",
      "id": "icon_fecebook",
      "label": "t:sections.footer.settings.fecebook_icon_img.content",
    },
    {
      "type": "text",
      "id": "link_fecebook",
      "label": "t:sections.footer.settings.fecebook_icon_link.content"
    },
    {
      "type": "image_picker",
      "id": "icon_instagram",
      "label": "t:sections.footer.settings.instagram_icon_img.content",
    },
    {
      "type": "text",
      "id": "link_instagram",
      "label": "t:sections.footer.settings.instagram_icon_link.content"
    },
    {
      "type": "image_picker",
      "id": "icon_youtube",
      "label": "t:sections.footer.settings.youtube_icon_img.content",
    },
    {
      "type": "text",
      "id": "link_youtube",
      "label": "t:sections.footer.settings.youtube_icon_link.content"
    },
    {
      "type": "range",
      "id": "icones_height_range",
      "min": 20,
      "max": 120,
      "step": 1,
      "unit": "px",
      "label": "t:sections.footer.settings.height_icons_redes_desktop.content",
      "default": 20
    },
    {
      "type": "range",
      "id": "icones_height_range_mobile",
      "min": 20,
      "max": 80,
      "step": 1,
      "unit": "px",
      "label": "t:sections.footer.settings.height_icons_redes_mobile.content",
      "default": 30
    },
    {
        "type": "textarea",
        "id": "title_payment",
        "label": "t:sections.footer.settings.footer_redes_title.content"
      }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "name": "t:sections.footer.blocks.metodos_pagamento.name",
      "type": "list_payment",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_img",
          "label": "t:sections.footer.blocks.metodos_pagamento.settings.icone"
        },
        {
          "type": "image_picker",
          "id": "icon_img_mobile",
          "label": "t:sections.footer.blocks.metodos_pagamento.settings.icone_mobile"
        },
        {
          "type": "text",
          "id": "icon_url",
          "label": "t:sections.footer.blocks.metodos_pagamento.settings.url"
        },
        {
          "type": "text",
          "id": "icon_alt",
          "label": "t:sections.footer.blocks.metodos_pagamento.settings.alt"
        }
      ]
    }
  ]
}
{% endschema %}
